!storage/db/.gitignore
!storage/logs/.gitignore
!storage/uploads/.gitignore
**/.dumi/tmp
**/.dumi/tmp-production
**/.dumi/tmp-test
**/.turbo
*.sqlite
*.tbdump
.DS_Store
.env
.env.e2e
.env.local
.env.local.*
.env.test
.local
.npmrc
.pnpm-store
.swc
.umi
.umi-production
/.idea
/.vscode
/playwright
/uploads
cache/diskstore-*
coverage
dist/
docker/**/storage
docs-dist/
es/
esm/
lib/
ncc-cache/
node_modules/
storage/*
tsconfig.paths.json
v8-compile-cache-**
