@keyframes lift-in-out {
  0% {
    translate: 0px 16px;
    opacity: 0;
  }
  12% {
    translate: 0px 0px;
    opacity: 1;
  }
  88% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px 16px;
    opacity: 0;
  }
}

@keyframes lift-out {
  from {
    translate: 0px 0px;
    opacity: 1;
  }
  to {
    translate: 0px 16px;
    opacity: 0;
  }
}

.dialog {
  margin-top: 400px;
  &[open] {
    animation: 2.5s lift-in-out;
  }
}
