/* A shared module for the timer and the mine counter */

.counter {
  border: 1px solid rgb(66, 55, 41);
  background: rgba(66, 55, 41, 0.276);
  text-shadow: 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  font-size: 16px;
  border-radius: 2px;
  overflow: hidden;
  &:has(img) {
    justify-content: inherit;
    padding: 0 3px;
    gap: 5px;
  }
}
